body {
    background-color: #f1f2f6;
}

fieldset { 
    display: block;
    width: 600px;
    margin: 15px auto;
    border: 2px solid #455568;
    padding: 0 1.4em 1.4em 1.4em;  
    border-radius: 5px;
    background-color: #aeb3ba;
    font-family: sans-serif, arial;
    font-size: 1em;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance:none;
    background: url('https://www.foretennis.com/images/arrow-d.png') no-repeat right #FEFEFE !important;
}

#about {
    display:block;
    width: 600px;
    margin: 15px auto;
    border: 2px solid #455568;
    border-radius: 5px;
    background-color: #aeb3ba;
    padding: 0 1.4em 0.5em 1.4em;
    font-family: lato,arial;
    font-weight: bold;
}

legend, #solution-head {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    width: auto;
    border-bottom: none;
}

#solution {
    display: block;
    border: 2px solid #455568;
    border-radius: 5px;
    width: 600px;
    margin: 0 auto;
    padding: 1.0em 1.4em 1.4em 1.4em;
    background: #86909e;
    font-family: sans-serif, arial;    
}

#main-selector {
    width: 200px;
}

#bolt {
    margin-top: -4%;
    margin-left: -4%;
    width: 70px;
}

#btn-solve {
    font-weight: bold;
    display: block;
    width: 80px;
    margin: 0 auto;
}

#bolt-label {
    margin-top: 0.4%;
    margin-left : -7%;
}

#solution-text div {
    margin: 20px auto;
}

#footer {
    width: 50%;
    margin: 5% auto 0 auto;
}

#footer img {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 2%;
    margin-right: 1%;
}

#g-label {
    margin-top: 8px;
    margin-right: -5%
}

.fix-label {
    width: 160px;
    margin-top: 8px;
    margin-right: -4%
}

.ls-margin {
    margin-right: -18%
}

.radio-margin {
    margin-right: 10px;
}

#grade-label {
    margin-right: -11%
}

#shape-label {
    margin-right: -7%
}